<% provide(:title, @project) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
      
      
        <%= @project.title %>
      </h1>
      <ul>
        <li><%= @project.audience %></li>
        <li><%= @project.behavior %></li>
        <li><%= @project.step %></li>
        <li><%= @project.sme %></li>
      </ul>
    </section>
  </aside>
</div>
